* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;

}

nav {
  background-color: gray;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;


}

.nav-link {
  color: white;
}

main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 3rem;
}

th,
td {
  border: 1px solid;
  padding: 1rem;
}